<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons class="ion-buttons" slot="start">
      <ion-back-button color="light"  defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-title">Fewnu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h3>Fewnu Inscription</h3>
  <form class="form" [formGroup]="validations_form"  (ngSubmit)="inscriptionUser(validations_form.value)">
  <ion-item>
    <ion-label position="floating">Nom Complet</ion-label>
    <ion-input type="text" formControlName="nom_complet"></ion-input>
  </ion-item>
  <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.nom_complet">
        <div class="error-message" color="red" *ngIf="validations_form.get('nom_complet').hasError(validation.type) && (validations_form.get('nom_complet').dirty || validations_form.get('nom_complet').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
  

  <ion-item>
    <ion-label position="floating">Téléphone</ion-label>
    <ion-input type="text" formControlName="phone" ></ion-input>
  </ion-item>
  <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.phone">
        <div class="error-message" color="red" *ngIf="validations_form.get('phone').hasError(validation.type) && (validations_form.get('phone').dirty || validations_form.get('phone').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
  <ion-item>
    <ion-label position="floating">Code Secret</ion-label>
    <ion-input type="password" formControlName="password" class="form-controll" required></ion-input>
  </ion-item>
    <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.password">
          <div class="error-message" color="red" *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
  
  <ion-item>
    <ion-label position="floating">Confirmer Votre Code Secret</ion-label>
    <ion-input type="password" formControlName="cpassword" class="form-controll" required></ion-input>
  </ion-item>
  <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.password">
        <div class="error-message" color="red" *ngIf="validations_form.get('cpassword').hasError(validation.type) && (validations_form.get('cpassword').dirty || validations_form.get('cpassword').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
  <!-- Default -->
  <br>
  <ion-button class="ion-button" type="submit" [disabled]="!validations_form.valid">S'INSCRIRE</ion-button><br>
  <label class="error-message">{{errorMessage}}</label>
  <label class="success-message">{{successMessage}}</label>
</form>
</ion-content>
