<ion-header>
  <ion-toolbar class="ion" color="primary">
    <ion-buttons class="ion-buttons" slot="start">
      <ion-back-button defaultHref="menu/aceuil"></ion-back-button>
    </ion-buttons>
    <ion-title class="title">Fewnu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <h3>Ajouter une vente</h3>

    <ion-item>
      <ion-label position="floating">Designation</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Prix</ion-label>
      <ion-input></ion-input>
    </ion-item>
       <!-- Default -->
    <ion-button class="ion-button" type="submit" color="primary">AJOUTER</ion-button>


</ion-content>
