<ion-split-pane>
<ion-menu side="start" menuId="first" type="overlay">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-img src="{{logo.logo}}"></ion-img>
      <ion-title>Fewnu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
      <p>Resumé</p>
    <ion-menu-toggle *ngFor="let m of menus">
        
      <div (click)="onMenuItem(m)"><br>
          
        <ion-icon [name]="m.icon" slot="start"></ion-icon>
        &nbsp;&nbsp;&nbsp;
        <ion-label>{{m.title}}</ion-label>
     
      </div>
    </ion-menu-toggle>
    
    <ion-item-divider>
    <p></p>
  </ion-item-divider>
  <p>Gestion stock</p>
    <ion-menu-toggle *ngFor="let m of menus1">
      <div (click)="onMenu1Item(m)"><hr>
            
        <ion-icon [name]="m.icon1" slot="start"></ion-icon>
        &nbsp;&nbsp;&nbsp;
        <ion-label>{{m.title1}}</ion-label>
     </div>
     
    </ion-menu-toggle>
    <ion-item-divider>
        <p></p>
      </ion-item-divider>
    
    <ion-menu-toggle *ngFor="let m of menus2">
      <div (click)="onMenu2Item(m)"><hr>
      <ion-icon [name]="m.icon2" slot="start"></ion-icon>
      &nbsp;&nbsp;&nbsp;
    
          <ion-label>{{m.title2}}</ion-label>
      
     </div>
  </ion-menu-toggle>
  </ion-content>
</ion-menu>

<ion-router-outlet main></ion-router-outlet>

</ion-split-pane>
