ion-title{
    background-color: rgb(0, 0, 55);
    size: large;
    color: white;
}
ion-button{
    margin-left: 100px;
    
}
ion-buttons{
    color: blue;
}


.value {
    text-align: right;
    font-size: 32px;
}

.calc-button {
    width: calc(25% - 4px);
    height: 40px;
    font-size: 25px;
    flex-direction: column-reverse;
}

#conteneur{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 1px;
    margin-left: 50px;
    margin-bottom: 10px;
}


