<ion-header>
  <ion-toolbar color="primary">
    <ion-title>fewnu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
   <ion-grid>
     <ion-row>
       <ion-col col-4></ion-col>
       <ion-col col-4 style="margin-left:100%; margin-right:auto; display: block;">
        <img src="{{logo.logo}}" style="width: 100%; height:auto;border-radius:100%">
      </ion-col>
     </ion-row>
   </ion-grid>
     

    
   
        

 
	
      <form class="form" [formGroup]="validations_form"  (ngSubmit)="homeUser(validations_form.value)">
      <ion-item>
       <ion-img src="{{logo1.logo}}" slot="start"></ion-img>
       <ion-label position="floating">Telephone</ion-label>
       <ion-input type="text" formControlName="Phone"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.Phone">
          <div class="error-message" *ngIf="validations_form.get('Phone').hasError(validation.type) && (validations_form.get('Phone').dirty || validations_form.get('Phone').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <br>
    
     <ion-item>
      <ion-label  position="floating">password</ion-label>
      <ion-input type="password" formControlName="Password" class="form-controll" required></ion-input>
      <ion-img src="{{logo2.logo}}" slot="start"></ion-img>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.Password">
        <div class="error-message" *ngIf="validations_form.get('Password').hasError(validation.type) && (validations_form.get('Password').dirty || validations_form.get('Password').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
    <br>
      
      <ion-button class="center"  color="primary" expand="block" shape="block" type="submit"  [disabled]="!validations_form.valid" size="medium">
      connexion
    </ion-button>
    <label class="error-message">{{errorMessage}}</label>
    </form><br>
    <ion-button class="center" name="lock" routerLink="/inscription"  color="primary" expand="block" shape="block" type="submit" size="medium">
      Inscription
    </ion-button>
</ion-content>
